body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23060605' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230d0c0b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23131110' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231a1716' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23201D1B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 50px; 
    margin-right: 50px;
}

a { 
    color: white;
}

.navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    text-align: center;
    list-style-type: none;
    transition: .3s ease all;
    background-color: #3a3636;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c59b4e;
    transition: 0.7s ease all;
  }

.welcome {
    margin-top: 300px;
    margin-bottom: 500px;
    text-align: center;
}
.startOfPage {
    margin-top: 100px;
}
.welcome ul {
    list-style-type: none;
    display: inline;
}
.welcome li {
    display: inline;
    margin-right: 20px
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .navbar {
        height: auto; /* Adjust the height for mobile */
    }

    .navbar li {
        float: none; /* Remove float for list items */
        display: block; /* Display list items as blocks */
    }

    .navbar a {
        padding: 40px; /* Decrease padding for links */
    }

    .welcome {
        text-align: center;
        margin-top: 100px; /* Adjust margin for welcome section on mobile */
        margin-bottom: 100px; /* Adjust margin for welcome section on mobile */
    }

    .startOfPage {
        margin-top: 100px; /* Adjust margin for the startOfPage section on mobile */
    }

    .welcome ul {
        display: block; /* Display list items as blocks */
        text-align: center; /* Center-align the list items */
    }

    .welcome li {
        display: block;
        margin-right: 0; /* Remove right margin for list items */
        margin-bottom: 10px; /* Add bottom margin for list items */
    }
}

