body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23060605' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230d0c0b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23131110' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231a1716' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23201D1B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    font-size: 16px;
}
table,td,th{
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: left;
}
p {
    width: 60%;
}
.navbar {
    position: flex;
    overflow: hidden;
    background-color: #2b2929;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    background-color: #cc8f1e;
    color: black;
}
.navbar a.active {
    background-color: #cc8f1e;
    color: white;
}

/* Right */
.navbar-right a {
    float: right;
}

.welcome {
    margin-top: 300px;
    margin-bottom: 500px;
    text-align: center;
}
.startOfPage {
    margin-top: 120px;
}
.welcome ul {
    list-style-type: none;
    display: inline;
    width: 100%;
}
.welcome li {
    display: inline;
    margin-right: 20px
}
.gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position:top;
    justify-content: center;
    padding: 5px;
}
.gallery img:hover {
    cursor:pointer;
    transition: 0.6s;
    transform:scale(1.2);
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; 
    height: 100%;
    margin-top: -60px;
    margin-bottom: 20px;
}
svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #C59B4E;
    font-size: 7vw;
}
@keyframes stroke {
	0%   {
		fill: rgba(255,255,255,0); stroke: rgba(197,155,78,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,255,255,0); stroke: rgba(197,155,78,1); }
	80%  {fill: rgba(255,255,255,0); stroke: rgba(197,155,78,1); stroke-width: 3; }
	100% {
		fill: rgba(255,255,255,1); stroke: rgba(197,155,78,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {
    background-color: #0000
}

@media only screen and (max-width: 768px) {
    .navbar a, .navbar-right {
        float: left;
    }
    .welcome {
        margin-top: 120px;
        margin-bottom: 70px;
    }
    .gallery img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery a, .gallery h1, .gallery p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .formattingText {
        padding: 0px 20px 20px;
    }
}

.dark-mode {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/white/white-trianglify-b79c7e1f.jpg");
    color: black;
}
.linkColor a {
    color: #C59B4E;
}
.survey {
    background: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.survey h1 {
    text-align: center;
    grid-column: 1 / -1;
}

/* Names */
.names input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Identify */
.identify {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
    color: black;
}

.identify input[type="radio"] {
    display: none;
}

.identify label {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 2px solid #444;
    border-radius: 5px;
    margin: 5px;
}

.identify input[type="radio"]:checked + label {
    background-color: #ffb42ab4;
    border-color: rgb(0, 0, 0);
}

/* Travel */
.travel input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    margin-right: 5px;
}

.travel input[type="checkbox"]:checked {
    background-color: darkorange;
}

/* Candy */
div.candy select {
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

/* Feedback and submit */
div.feedback textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.feedback input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

div.feedback input[type="submit"]:hover {
    background-color: #9e6e0d;
}

.padding {
    text-align: center;
}